.chart rect {
  stroke: white;
  fill: steelblue;
}
.chart text {
  font: 13px sans-serif;
  fill: red;
}
.chart rect.first {
  stroke: none;
  fill: #f69525;
}
.chart rect.second {
  font: 10px sans-serif;
  color: black;
  stroke: none;
  fill: #0f71b7;
}
.legend{
  font-size: 10px;;
}
.spending {
  color: #0f71b7;
}
.budgeting {
  color: #f69525;
}
.category-container{
  margin-top:100px
}
.spending-title{
  margin-bottom:20px;
  font-size:2em;
}
.spending-table .spending-chart{
  margin-bottom:20px;
  font-size:2em;
}
.barchart-panel{
  margin-top:48px
}
.categoryDropdown-toggle{
  margin-bottom:50px
}
