html, body {
	width: 100%;
	overflow-x: hidden;
}
body {
	height: 100%;
	font-family: "Lato", ;
	font-weight: 300;
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 28px;
	overflow-x: hidden;
	position: relative;
	color: white;
	background: #4B79A1;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #4B79A1, #283E51);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #4B79A1, #283E51);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.panel-background {
	background-color: transparent;
	border: none;
}
.logo {
	margin-top: 70px;
	margin-bottom: 20px;
}
.logo img {
	width: 150px;
	height: 37px
}
.login-title {
	font-size: 2.0em;
}
.landing .title {
	font-size: 2.0em;
  font-weight: 300;
	color: #fff;
	margin: 20px 0 30px 0;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
	line-height: 120%;
	margin: auto;
}
.landing-header {
	margin: auto;
	display: block;
}
.landing-text {
	margin-bottom: 20px;
}
.landing-text .landing-message {
	font-size: 1.3em;
	font-weight: 300;
	margin-top: 15px;
	margin-bottom: 30px;
	line-height: 150%;
  font-style: italic;
}



.instruction .title {
	font-size: 1.5em;
  font-weight: 700;
	color: #fff;
	margin: 40px 0 10px 0 !important;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
	line-height: 120%;
	margin: auto;
}

.instruction .instruction-message {
	font-size: 1.2em;
	font-weight: 300;
	margin-top: 15px;
	margin-bottom: 30px;
	line-height: 150%;
  font-style: italic;
}
.line {
	max-width: 250px;
}
.signup-btn {
	margin-top: 20px;
	margin-bottom: 20px;
	margin: auto;
	display: block;
}
.signup-form {
	padding-bottom: 20px;
}
.login-header {
	margin: 50px 0 20px;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 4px;
	padding: 20px
}
.login-header h3 {
	padding: 20px 0 10px;
	color: white;
	font-weight: 300;
}
.login-header p {
	color: white;
	margin-bottom: 50px;
}
@media (min-width: 768px) {
	.intro {
		margin-top: 130px;
	}
	.logo img {
		width: 200px;
		height: 55px
	}
	.login-label{
		margin-left: 20px;
	}
	.landing .title {
		font-size: 2.5em;
	}
	.landing-header {
		margin: auto;
		display: block;
	}
	.landing-text {
		margin-bottom: 20px;
	}
	.landing-text .landing-message {
		font-size: 1.5em;
	}
	.intro h2, .signup-btn {
		display: block;
		margin: 0;
	}
}
@media (min-width: 992px) {
	.dropdown-toggle {
		margin-bottom:0px;
	}
}
@media (min-width: 1200px) {
	.logo {
		margin-bottom: 20px;
	}
	.logo img {
		width: 200px;
		height: 55px
	}
	.login-label{
		margin-left: 0px;
	}
	.login-header {
		margin: 190px 0 100px;
		padding: 30px;
		background: rgba(255, 255, 255, 0.2);
		border-radius: 4px;
	}
	.signup-header {
		margin: 10px 0 200px;
		padding-bottom: 50px;
		padding-top: 20px;
		background: rgba(255, 255, 255, 0.2);
		border-radius: 4px;
		padding-left: 20px;
		padding-right: 20px;
	}
}
.navbar-custom {
	background: #4B79A1;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #4B79A1, #283E51);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #4B79A1, #283E51);
}
.white {
	color: white;
}


/* login btn loading effect */
.login-btn:focus, .login-btn:active {
	color: #4B79A1;
	text-shadow: 1px 1px 1px #000;
	background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 75%, transparent 75%, transparent), -webkit-linear-gradient(top, #f6f5f0, #e1e0dc);
	background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 75%, transparent 75%, transparent), -moz-linear-gradient(top, #f6f5f0, #e1e0dc);
	background: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 75%, transparent 75%, transparent), -ms-linear-gradient(top, #f6f5f0, #e1e0dc);
	background: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 75%, transparent 75%, transparent), -o-linear-gradient(top, #f6f5f0, #e1e0dc);
	background: linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 75%, transparent 75%, transparent), linear-gradient(top, #f6f5f0, #e1e0dc);
	-pie-background: linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 75%, transparent 75%, transparent), linear-gradient(top, #f6f5f0, #e1e0dc);
	background-repeat: repeat;
	-webkit-background-size: 40px 40px, 100% 100%;
	-moz-background-size: 40px 40px, 100% 100%;
	-ms-background-size: 40px 40px, 100% 100%;
	-o-background-size: 40px 40px, 100% 100%;
	background-size: 40px 40px, 100% 100%;
	-webkit-animation: progress-bar-stripes 2s linear infinite;
	-moz-animation: progress-bar-stripes 2s linear infinite;
	-ms-animation: progress-bar-stripes 2s linear infinite;
	-o-animation: progress-bar-stripes 2s linear infinite;
	animation: progress-bar-stripes 2s linear infinite;
}
@-webkit-keyframes progress-bar-stripes {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 40px 0;
	}
}
@-moz-keyframes progress-bar-stripes {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 40px 0;
	}
}
@keyframes progress-bar-stripes {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 40px 0;
	}
}
.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label{
	color:white !important
}
footer{
	margin-top:50px;
}
.author{
	color:white;
}
a:hover {
    background-color: #ffffed;
}
.login-label{
	margin-top:20px;
}
.password-input{
	margin-bottom:20px;
}
.feature-container{
	background-color: rgba(255, 255, 255, 0.03);
	padding:50px;
}
