html, body {
  width: 100%;
  overflow-x: hidden;
}
body {
  height: 100%;
  font-family: "Lato", ;
  font-weight: 300;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 28px;
  overflow-x: hidden;
  position: relative;
  color: white;
  background: #4B79A1;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4B79A1, #283E51);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4B79A1, #283E51);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  font-size: 5.9vw;
}
h2 {
  font-size: 3.0vh;
}
p {
  font-size: 2vmin;
}
.panel-background {
  background-color: transparent;
  border: none;
}
#preload {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url(../assets/loading.gif) no-repeat center center;
}
.logo {
  margin-top: 70px;
  margin-bottom: 20px;
}
.logo img {
  width: 150px;
  height: 37px
}
.landing h1 {
  font-size: 56px;
  font-weight: 300;
  color: #fff;
  margin: 30px 0 30px 0;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.landing-header {
  margin: auto;
  display: block;
}
.landing-text {
  margin-bottom: 20px;
}
.landing-text p {
  font-size: 17px;
  margin-bottom: 30px;
}
.signup-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  margin: auto;
  display: block;
}
.signup-form {
  padding-bottom: 20px;
}
.login-header {
  margin: 50px 0 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;

  padding:20px
}
.si-header {
  margin: 50px 0 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
}
.login-header h3 {
  padding: 20px 0 10px;
  color: white;
  font-weight: 300;
}
.login-header p {
  color: white;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .logo img {
    width: 200px;
    height: 55px
  }
  .landing-text p {
    margin-top: 30px;
    font-size: 24px;
    line-height: 35px;
    font-family: "Arial";
    margin-bottom: 20px;
  }
  .intro h2, .signup-btn {
    display: block;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .logo {
    margin-top: 200px;
    margin-bottom: 20px;
  }
  .logo img {
    width: 200px;
    height: 55px
  }
  .landing-text p {
    margin-top: 30px;
    font-size: 24px;
    line-height: 35px;
    font-family: "Arial";
    margin-bottom: 20px;
  }
  .login-header {
    margin: 150px 0 200px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
  }
	.signup-header {
    margin: 10px 0 200px;
		padding-bottom: 50px;
		padding-top:20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.navbar-custom {
  background: #4B79A1;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4B79A1, #283E51);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4B79A1, #283E51);
}
.white {
  color: white;
}


.login-btn:hover {background-color: #3e8e41}

.login-btn:active {
  background-color: #5cb85c;
  box-shadow: 0 5px #666;
  transform: translateY(10px);
}
