
.transaction-container{
  margin-top: 100px;
}
@media (min-width: 768px) {
  .transaction-container{
    margin-top: 150px;
  }
}
@media (min-width: 1200px) {
  .transaction-container{
    margin-top: 200px;
  }
}
