<!DOCTYPE html>
<html lang='en'>
<head>
  <title>iSpend</title>
  <link href='/css/budget.css' rel='stylesheet'>
</head>
<body>
  <header>
    <%include header.ejs %>
  </header>
  <div class='container budget-container'>
    <div class='row'>
      <div class='col-lg-10'>
        <div class='panel panel-default'>
          <div class='panel-heading'>
            <div class='panel-title text-center'>
              <h3><label for='budgeting'>Budgeting</label></h3>
            </div>
          </div>
          <div class='panel-body'>
            <form id='setBudget' name='setBudget'>
              <div id='messagesBudget'></div>
              <table class='budgetTable table table-striped' id='budgetTable'>
                <thead>
                  <tr>
                    <th scope='col'>Category</th>
                    <th scope='col'>Budget Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <%for(var i=0; i < data.result.length; i++) { %>
                  <tr>
                    <td data-id='<%=data.result[i].id %>'><%= data.result[i].name  %></td>
                    <td><input aria-label='budget' class='newBudget form-control' data-id='<%=data.result[i].id %>' min='1' name='budget' type='number'></td>
                  </tr><%} %>
                </tbody>
              </table><button class='btn btn-success pull-right' role='set budget' type='submit'>Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src='/js/budget.js'>
  </script>
</body>
</html>
