<!DOCTYPE html>
<html lang='en'>
<head>
  <link href='/css/categorySpending.css' rel='stylesheet'>
  <title>iSpend</title>
</head>
<body>
  <header>
     <%include header.ejs %>
     <link href='/css/categorySpending.css' rel='stylesheet' type='text/css'>
  </header>
  <div class='container category-container'>
    <div class='row'>
      <div class='container'>
        <div class='row'>
          <div class='col-md-6'>
            <label class='spending-title' for='title for spending' id='spedningSummary'></label>
          </div>
          <div class='col-md-6 year-menu'>
            <div class='dropdown'>
              <button class='btn pull-btn-default btn-default dropdown-toggle pull-right categoryDropdown-toggle' data-toggle='dropdown' id='menu1' type='button'>Select Other Month<span class='caret'></span></button>
              <ul aria-labelledby='menu1' class='dropdown-menu pull-right' style='margin-top:35px' role='menu'>
                <%var month = ['January', 'February', 'March', 'April', 'May','June','July', 'August', 'September', 'October', 'November', 'December'];%><%var monthYear=''; %><%for(var i=0; i < data.result.length; i++) {
                                     %><%monthYear = month[data.result[i].month-1] +' '+data.result[i].year;
                                     %>
                <li role='presentation'>
                  <a data-month='<%=data.result[i].month%>' data-year='<%=data.result[i].year%>' href='#' role='menuitem' tabindex='-1'><%=monthYear%></a>
                </li><%} %>
              </ul>
            </div>
          </div>
        </div><!--row-->
      </div><!--continer-->
      <div class='row'>
        <div class='col-md-6'>
          <div class='panel panel-default'>
            <div class='panel-heading'>
              <label class='panel-title spending-table' for='Spending category'>
                <i class='fa fa-long-arrow-right fa-fw'></i> Spending Categories
              </label>
            </div>
            <div class='panel-body'>
              <div>
                <div class='text-center' id='pieChart'></div>
              </div>
            </div>
          </div>
        </div><!--col -->
        <div class='col-md-6'>
          <div class='panel panel-default'>
            <div class='panel-heading'>
              <div class='panel-title spending-chart'>
                <i class='fa fa-long-arrow-right fa-fw'></i>
                <label class='budgeting' for='budget'>Budget</label> vs
                <label class='spending' for='spending'>Spending</label>
              </div>
            </div>
            <div class='panel-body barchart-panel'>
              <div class='text-center' id='barChart'></div>
            </div>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          <div class='panel panel-default'>
            <div class='panel-heading'>
              <div class='panel-title'>
                <i class='fa fa-long-arrow-right fa-fw'></i>
                <label for='Spending Table'>Spending</label>
              </div>
            </div>
            <div class='panel-body'>
              <table cellspacing='0' class='table table-striped category-data' id='categorySpendingTable' width='100%'>
                <thead>
                  <tr>
                    <th scope='col'></th>
                    <th scope='col'>Spending</th>
                    <th scope='col'>Budget</th>
                    <th scope='col'>Detail</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
  <div class='modal fade' id='spending' role='dialog'>
    <div class='modal-dialog'>

      <!-- Modal content-->
      <div class='modal-content'>
        <div class='modal-header'>
          <button type='button' class='close' data-dismiss='modal'>&times;</button>
          <lable for 'spending Detail' id='spendingDetail' class='modal-title'>Spending</label>
        </div>
        <div class='modal-body'>
          <table cellspacing='0' class='table table-striped category-data' id='specificSpendingTable' width='100%'>
            <thead>
              <tr>
                <th scope='col'>Date</th>
                <th scope='col'>Amount</th>
                <th scope='col'>Description</th>
              </tr>
            </thead>
          </table>        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>
        </div>
      </div>

    </div>
  </div>
      <script src='/js/categorySpending.js'>
      </script>
    </div>
  </div>
</body>
</html>
